.header {
    margin-left: 40px;
    padding: 20px 20px 20px 40px;
}

.header h1, header h1 a, header h1 a:visited, header h1 a:active {
    color: #000000;
    font-size: 36pt;
    text-decoration: none;
}

.container {
    margin-left: 40px;
}

.line {
    overflow:hidden;
    word-wrap:break-word; }
}

.lineover {
    overflow:hidden;
    word-wrap:break-word; }
}
